.commonBtn {
  font-family: 'Montserrat-bold';
  font-size: 15px;
  line-height: 1.5;
  color: #fff;
  text-transform: uppercase;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  margin-top: 25px;
  width: 100%;
  height: 50px;
  background: #4158d0;
  transition: all 0.4s;
  cursor: pointer;
  &:hover {
    background: #333333;
  }
}
