@font-face {
  font-family: 'Poppins-Medium';
  font-weight: 200;
  src: url('./style/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  font-weight: 200;
  src: url('./style/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  font-weight: 200;
  src: url('./style/fonts/Poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-weight: 200;
  src: url('./style/fonts/Poppins/Montserrat-Bold.ttf') format('truetype');
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input {
  outline: none;
  border: none;
}

button,
input {
  overflow: visible;
}

body {
  height: 100%;
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Poppins-Regular, sans-serif';
  line-height: 1.5;
  color: #212529;
}

* {
  box-sizing: border-box;
  padding: 0px;
}
